<<<<<<< HEAD
<% provide(:title, 'Contact') %>
<div class="center jumbotron">
  <h1>Contact</h1>
  <p>Contact the admin throught </p>
  <div>
    <p><%= link_to image_tag("facebook.jpg", alt: "facebook logo"), 'http://facebook.com/ly.long.7', target: "_blank"%> Facebook </p>
    <p><%= link_to image_tag("instagram.jpg", alt: "instargram logo"), 'http://www.instagram.com/longlybs110/', target: "_blank"%> Instagram </p>
    <p><%= link_to image_tag("phone.jpg", alt:"Phone"), '#' %> 01664708942 </p>
  </div>
</div>
=======
<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
>>>>>>> InitModle-Relationship
